.student {
	display: flex;
	justify-content: space-between;
}

button {
	padding: 10px 10px;
	
	outline: none;
	border: none;
	border-radius: 15px;
	cursor: pointer;

	background-color: blue;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}

.student-form {
	margin-right: 20px;
}

.student-form fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	height: 100%;
}

.student-form input {
	padding: 5px 5px;
	margin-bottom: 20px;
	border: 1px solid grey;
	border-radius: 4px;
	outline: none;
}

.student-info {
	height: 50vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.student-list {
	
}

/* .student-list li {
	display: block;
} */

.info-btn {
	display: inline-block;
}