
.pizza {
	width: 100vw;
}
.order-pizza {
	margin-bottom: 20px;
}
label {
	position: absolute;
	left: 50px;
}

.order-form fieldset {
	border: none;
}

input {
 	display: block;
 	margin-bottom: 20px;
}

.order-status {
	text-align: center;
	margin: 50px 0;
}

.order-status span {
	display: none;
	padding: 10px 10px;
	
	color: white;
	background-color: blue;
	border-radius: 5px;

	text-align: center;
	font-size: 20px;
}
.order-status span.visibility {
	display: inline-block;
	
}
.order__radio {
	margin-bottom: 20px;
}
.order__btn {
	padding: 10px 10px;
	color: white;
	background-color: blue;
	border: 1px solid blue;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
.error--message {
	display: none;
	margin-left: 10px;
	padding: 10px 15px;
	color: white;
	background-color: red;
	border-width: 1px;
	border-radius: 5%;
	cursor: pointer;
}
.error--message.visibility {
	display: inline-block;
}

.order-evaluate {
	width: 30vw;
	margin: 0 auto;
	display: none;
}
.order-evaluate.visibility {
	display: block;
}
.order-evaluate__icons {
	display: flex;
	justify-content: center;
	width: 100%;
}

.order-evaluate__icons .icon {
	font-size: 40px;
	margin: 0 10px;
}